@import '../../../styles/card.scss';
@import '../../../styles/button.scss';
@import '../../../styles/form.scss';

button {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.btn-card {
  font-size: 0.5em;
}

